<a href="https://colab.research.google.com/github/Tejvvishnu/python-new/blob/module-2/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def my_function():
  print("Hello tej")

In [3]:
def my_function():
  print("Hello tej")

my_function()

Hello tej

In [5]:
def my_function(fname):
  print(fname + " Read")

my_function("tej")
my_function("vishnu")
my_function("python")

tej Read
vishnu Read
python Read

In [6]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("tej", "Read")

tej Read

In [8]:
def my_function(*kids):
  print("The child is " + kids[2])

my_function("tej","raj")

IndexError: ignored

In [9]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "tej", child2 = "vishnu", child3 = "mouli")

The youngest child is mouli

In [10]:
def my_function(country = "North"):
  print("I am from " + country)

my_function("South")
my_function("India")
my_function()
my_function("west")

I am from South
I am from India
I am from North
I am from west

In [12]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["grapes", "watermelon"]

my_function(fruits)

grapes
watermelon

In [13]:
def my_function(x):
  return 5 * x

print(my_function(1))
print(my_function(2))
print(my_function(3))

5
10
15