<a href="https://colab.research.google.com/github/Tejvvishnu/python-new/blob/module-1/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=["january","febrauary","march","april","may","June"]
print(a)
print(type(a))
print(a[1:3])
print(a[1])
print(a[2])
print(a[-1])
print(a[-2])

['january', 'febrauary', 'march', 'april', 'may', 'June']
<class 'list'>
['febrauary', 'march']
febrauary
march
June
may

adding list items

In [ ]:
a=["january","febrauary","march","april","may","June"]
print(a)
print(type(a))
a.append("july")
print(a)
a.insert(7,"august")
print(a)
a.remove("january")
print(a)
a.remove(a[4])
print(a)

['january', 'febrauary', 'march', 'april', 'may', 'June']
<class 'list'>
['january', 'febrauary', 'march', 'april', 'may', 'June', 'july']
['january', 'febrauary', 'march', 'april', 'may', 'June', 'july', 'august']
['febrauary', 'march', 'april', 'may', 'June', 'july', 'august']
['febrauary', 'march', 'april', 'may', 'july', 'august']

pop/del

In [ ]:
a=["january","febrauary","march","april","may","June"]
print(a)
print(type(a))
a.pop(1)
print(a)

['january', 'febrauary', 'march', 'april', 'may', 'June']
<class 'list'>
['january', 'march', 'april', 'may', 'June']

sorting

In [ ]:
num=[10,20,3,5,]
num.sort()
print(num)

[3, 5, 10, 20]

tuple

In [ ]:
a="january","febrauary","march","april","may","June"
print(a)
print(type(a))

('january', 'febrauary', 'march', 'april', 'may', 'June')
<class 'tuple'>

condition